
    @import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Mulish:wght@700&family=Tinos:ital@1&display=swap');

    *{
        padding:0;
        margin:0;
        box-sixing:border-box;
        font-family: 'Cinzel', serif;
       
    }
    
.intro-commerce{
    padding:3rem 1rem;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
}
.intro-img{
    max-width:30rem;
}
.ecom-image{
    width:100%;
    border-radius:7rem 1.5rem 7rem 1.5rem;
   box-shadow:-3px 5px 21px 0.1px rgb(0,0,0,0.1);
}
.intro{
    padding:0.5rem 0rem;
    max-width:20rem;
    margin:0px 0.9rem;
}
.intro h1{
    font-weight:bolder;
    color:#1a1e33da;
}
.category-part,.category-item{
        display:flex;
        justify-content:flex-start;
        flex-wrap:wrap;
    }
    .categories-card{
        width:300px;
        
    }
    .categories-card img{
        width:100%;
        height:250px;
        object-fit:contain;
    }
    .category-name{
        display:flex;
        align-items:center;
        justify-content:space-between;
    }
.category-card{
  width:300px;
  height:auto;
}
.category-img{
  width:100%;
  height:350px;
}